<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="NServiceKit.Common" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.OrmLite.MySql" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.Text" version="1.0.10" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net45" />
</packages>